<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500;600;700;800&family=Heebo:wght@400;700&family=Cousine&display=swap" rel="stylesheet">
</head>
<body>
    <div class="off-canvas off-canvas-sidebar-show">
        <!-- off-screen toggle button -->
        <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
          <i class="icon icon-menu"></i>
        </a>
      
        <div id="sidebar-id" class="off-canvas-sidebar">
            <div id="logo">
                <img src="{{ '/assets/images/wordmark-dark.svg' | absolute_url }}" alt="Winter CMS Documentation">
            </div>

            <nav id="main-nav">
            {% assign categories = site.data.categories.categories %}

            {% for category in categories %}
                {% assign categoryItems = site.docs | where: "category", category %}
                {% assign categoryDocs = categoryItems | sort: 'order' %}
                {% assign firstItem = categoryDocs | first %}
                {% assign activeItem = categoryDocs | where: "url", page.url | first %}

                {% if activeItem != nil %}
                    <h3 class="category active">{{ category }}</h3>
                {% else %}
                    <h3 class="category">
                        <a href="{{ firstItem.url | relative_url }}" title="{{ category }}">{{ category }}</a>
                    </h3>
                {% endif %}

                {% if activeItem != nil %}
                <ul>
                    {% for doc in categoryDocs %}
                    <li>
                        <a
                            href="{{ doc.url | relative_url }}"
                            title="{{ doc.navTitle }}"
                            {% if doc.url == page.url %} class="active"{% endif %}
                        >
                            {{ doc.navTitle }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
            </nav>
        </div>
      
        <a class="off-canvas-overlay" href="#close"></a>
      
        <div class="off-canvas-content">
            <div class="page-content">
                <div class="edit-page">
                    <a href="https://github.com/wintercms/docs/edit/master/_docs/{{ page.url }}.md" target="github">
                        Edit this page on GitHub
                    </a>
                </div>

                <h1 class="title">
                    <span>{{ page.title }}</span>
                </h1>

                {{ content }}
            </div>
        </div>
    </div>
</body>
</html>